body {
    color: #493628;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-size: 0.8rem;
}

h2, h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

.container {
    height: 100%;
}

#logo {
    max-width: 100%;
    height: 75%;
    margin: auto 2.5rem;
}

#slogan {
    text-align: center;
    font-family: cursive;
    color: #86AB89;
}

#main-desc {
    text-align: center;
}

#title {
    margin-bottom: 4rem;
}

.menu-item {
    margin: 1rem;
}

.menu-img {
    max-width: 100%;
    border-radius: 0.5rem;
}

button {
    border-radius: 0.8rem;
    padding: 0 1rem;
    background-color: #EBDED4;
    border: none;
    box-shadow: 1px 1px 2px #493628;
}


